body{
    background-image: url('./tree-background.png');
}

#page-header{
    height: 130px;
    background-color: rgba(255, 255, 255, 0.623);
    text-align: center;
}

#tableCloth{
    width: 60%;
    margin: 100px auto 0;
}